SUBDOMAIN=""

# CONEXIÓN CON BASE DE DATOS
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_COLLATION=utf8mb4

# IDENTIFICADORES
ADM_IDENTIFIER=

# IDENTIFICADORES PARA TABLAS
ADMINISTRATOR_TABLES_IDENTIFIER=
DB_TABLES_IDENTIFIER=
CRUD_IDENTIFIER=

# SECRETOS
MYSQLI_PASSWORD_SECRET=

# PÁGINA WEB
ADM_NAME=
ADM_WEBPAGE=
ADM_EMAIL=
ADM_PHONE=

# AJUSTES DEL LOGO PARA EL PDF
PDF_LOGO_HEIGHT_PX=35px
PDF_LOGO_WIDTH_PX=80px

PDF_LOGO_HEIGHT_MM=10
PDF_LOGO_WIDTH_MM=25

# AJUSTES MAILER
PHPMAILER_HOST=

PHPMAILER_SUPPORT_EMAIL=
PHPMAILER_SUPPORT_PASSWORD=

# Este correo es el que se usa en POS donde se envían tickets con ventas de tipo equipo
PHPMAILER_SALE_EQUIPMENT_NAME=
PHPMAILER_SALE_EQUIPMENT_EMAIL=

# AJUSTES DE TICKETS para reporte de ventas facturadas
TICKET_NAME=
TICKET_BANK_NAME=
TICKET_BANK_ACCOUNT=
TICKET_RFC=

DECIMALS_CURRENCY_TICKET=2

# AJUSTES PARA COTIZACIONES
QUOTE_DAYS_TO_EXPIRED=15

# AJUSTES FACTURAS
FACTURAS_URL_TIMBRADO=
FACTURAS_ID_USUARIO=
FACTURAS_PASSWORD=

# MEDIA O IMAGENES DEL SISTEMA
SYSTEM_MEDIA_PATH="src/systemassets"
ADM_LOGO=logo-colores.png
ADM_LOGO_WHITE=logo.png
ADM_LOGO_WIDTH_LARGE=logo-large-width.jpeg
ADM_FAVICON=favicon.png